 <div class="container-fluid mt-5" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About me</h1>
            <p class="text-center sub-heading">This is simply a node js website</p>
            <div class="row">
                <div class="col-md-6 col-16 hero-text order-md-0 order-1">
                    <figure>
                        <img src="images/image 2.png" alt="hero-section-images">
                    </figure>
                </div>

                <div
                    class="col-md-6 col-16 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                    <h1>DYNAMIC WEBSITE</h1>
                    <h1>NOSQL DATABASE</h1>
                    <p>This website is just illustrating the use of
                        <span class="bold-style">node js</span> as backend and
                        mongodb as a database</p>

                    <button class="btn-style btn-primary">read more</button>
                    <form action="/sentiment-analysis" method="POST" enctype="multipart/form-data">
  <input type="file" id="csvFile" name="csvFile">
  <input type="submit" value="Analyze Sentiment">
</form>
                </div>
            </div>
        </div>
    </div>
</div>