<div class="container-fluid mt-5" id="serviceid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">Services</h1>
                <p class="text-center sub-heading">This is simply a node js website</p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icons">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                                </div>    
                                    <h4>Express</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icons">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                                </div>    
                                    <h4>Mongodb</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icons">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                                </div>    
                                    <h4>Bootstrap</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icons">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                                </div>    
                                    <h4>jquery</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icons">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                                </div>    
                                    <h4>handlebars</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icons">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                                </div>    
                                    <h4>settings</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur</p>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>  
</div>                      